<div class="modal fade" id="signinModal" tabindex="-1">

  <div class="modal-dialog modal-sm-att">

    <div class="modal-content">

      <!-- Header -->
      <app-modal-header [header]="'Sign in to Artistree'"></app-modal-header>

      <!-- Body -->
      <div class="modal-body">

        <form #form="ngForm" (submit)="signIn()">

          <button class="btn btn-fb btn-block btn-lg">
            <i class="lni lni-facebook-original mr-3"></i>
            Continue with Facebook
          </button>

          <button class="btn btn-google btn-block btn-lg">
            <img class="mr-3" src="../../../../assets/imgs/icons/google.svg" alt="Google icon">
            Continue with Google
          </button>

          <div class="divider d-flex align-items-center justify-content-between my-3">
            <div></div>
            <span class="text-grey semibold">OR</span>
            <div></div>
          </div>

          <!-- Email -->
          <div class="form-label-group">

            <input
              type="email"
              id="signinInputEmail"
              class="form-control"
              name="signinInputEmail"
              placeholder="E-mail address"
              [(ngModel)]="email"
              #inputEmail="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              [ngClass]="{ 'is-invalid': form.submitted && inputEmail.invalid }"
              required email autofocus>

            <i class="icon" data-eva="email-outline"></i>
            <label for="signinInputEmail">E-mail address</label>

          </div>

          <div *ngIf="form.submitted && inputEmail.invalid" class="is-invalid">
            <span *ngIf="inputEmail.errors.required" class="small text-danger">Email is required</span>
            <span *ngIf="inputEmail.errors.pattern" class="small text-danger">Email must be a valid email address</span>
          </div>

          <!-- Password -->
          <div class="form-label-group mt-2">

            <input
              type="password"
              id="signinInputPassword"
              class="form-control"
              name="signinInputPassword"
              placeholder="Password"
              [(ngModel)]="password"
              #inputPassword="ngModel"
              [ngClass]="{ 'is-invalid': form.submitted && inputPassword.invalid }"
              required minlength="6" autofocus>

            <i class="icon" data-eva="lock-outline"></i>
            <label for="signinInputPassword">Password</label>

          </div>

          <div *ngIf="form.submitted && inputPassword.invalid" class="is-invalid">
            <span *ngIf="inputPassword.errors.required" class="small text-danger">Password is required</span>
            <span *ngIf="inputPassword.errors.minlength" class="small text-danger">Password must be at least 6 characters long</span>
          </div>

          <button class="btn btn-primary btn-block btn-lg mt-3" type="submit">Sign in</button>
        </form>

        <div class="d-flex align-items-center justify-content-between mt-2">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              id="rememberMe"
              class="custom-control-input"
              name="rememberMe"
              [(ngModel)]="rememberMe">
            <label class="custom-control-label" for="rememberMe">Remember me</label>
          </div>
          <span class="text-primary semibold" style="font-size: .7rem">Forgot Password</span>
        </div>

      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <div>
          <span class="text-grey semibold mr-1">Not a member yet?</span>
          <span class="text-primary semibold link" (click)="join()">Join now</span>
        </div>
      </div>

    </div>

  </div>

</div>
