@import "../../../../styles/abstracts/variables", "../../../../styles/abstracts/functions", "../../../../styles/abstracts/mixins";
@import "../../../../../node_modules/bootstrap/scss/functions", "../../../../../node_modules/bootstrap/scss/variables", "../../../../../node_modules/bootstrap/scss/mixins";

.divider {
  div {
    height: 2px;
    width: 45%;
    background-color: get-color(border, 1);
  }
}
