@import "src/styles/abstracts/variables", "src/styles/abstracts/functions", "src/styles/abstracts/mixins";
@import "node_modules/bootstrap/scss/functions", "node_modules/bootstrap/scss/variables", "node_modules/bootstrap/scss/mixins";

@include media-breakpoint-up(sm) {
  .modal-dialog {
    max-width: 427px;
  }
}

.modal-content {
  border: none;
  background-color: white;
  border-radius: 17px;
  filter: drop-shadow(0px 7.11111px 14.2222px rgba(17, 17, 17, 0.04));
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 1rem 2.5rem;
  border: none;
  position: relative;
}

.modal-footer {
  padding-bottom: .1rem;
  padding-top: .1rem;
  border-top: 1.5px solid get-color(border, 1);
  justify-content: center;

  span {
    font-size: .7rem;
  }
}

.modal-title {
  margin-top: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.close {
  &:hover, &:focus { outline: none; }
  i {
    font-size: 1rem;
    position: absolute;
  }
}
