<div class="card-att card-filled mt-4">

  <h6 class="subtitle">Book Me</h6>

  <div class="profile-gigs position-relative">
    <span *ngIf="!user.gigs || user.gigs.length === 0" class="d-block text-grey font-size-3 mb-3">No gigs to show</span>

    <div *ngIf="user.gigs && user.gigs.length > 2" class="mb-3">

      <ngx-slick-carousel class="carousel"
                          id="gigsCarousel"
                          [config]="slideConfig"
                          #slickModal='slick-carousel'>

        <div ngxSlickItem *ngFor="let gig of this.user.gigs" class="slide mr-3 position-relative">
          <app-gig-card [gig]="gig"></app-gig-card>

          <div class="delete" (click)="deleteGig(gig)">
            <i *ngIf="isCurrent" data-eva="trash"></i>
          </div>
        </div>

      </ngx-slick-carousel>

    </div>

    <div *ngIf="user.gigs && user.gigs.length > 0 && user.gigs.length <= 2" class="mb-3">

      <div class="d-flex align-items-center flex-wrap">
        <div *ngFor="let gig of this.user.gigs" class="position-relative mr-3"[style]="'width: 15rem'">
          <app-gig-card [gig]="gig"></app-gig-card>

          <div class="delete" (click)="deleteGig(gig)">
            <i *ngIf="isCurrent" data-eva="trash"></i>
          </div>
        </div>
      </div>

    </div>

    <!-- Create -->
    <div *ngIf="isCurrent" class="border-top-darker">
      <button class="d-flex align-items-center justify-content-center btn btn-grey btn-block btn-lg mt-3"
              data-toggle="modal" data-target="#edit-gigs-card-step1">
        <i class="icon mr-2" data-eva="plus-square-outline" style="fill: white"></i>Create gig</button>
    </div>

    <div *ngIf="!isCurrent" class="d-flex align-items-center flex-wrap mt-2">
      <a class="d-flex align-items-center justify-content-center btn btn-outline-grey btn-lg mr-2">
        <i class="icon mr-2" data-eva="pantone-outline"></i>Custom gig</a>

      <a class="d-flex align-items-center justify-content-center btn btn-outline-grey btn-lg">
        <i class="icon mr-2" data-eva="person-add-outline"></i>Private tutoring</a>
    </div>

  </div>

</div>

<div class="modal fade" id="edit-gigs-card-step1" tabindex="-1">

  <div class="modal-dialog modal-sm-att">

    <div class="modal-content">

      <!-- Header -->
      <app-modal-header [header]="'Create Gig'"></app-modal-header>

      <!-- Body -->
      <div class="modal-body">

        <form>

          <!-- Name -->
          <span class="text-grey semibold">Name</span>
          <app-input-text
            [id]="'profileInputGigName'"
            [placeholder]="'Your gig name'"
            [icon]="'text-outline'"
            [marginTop]="'mt-2'"
            [required]="true"
            [(value)]="newGig.name">
          </app-input-text>

          <!-- Pitch -->
          <span class="text-grey semibold mt-3 d-block">Entice the audience</span>
          <app-input-text
            [id]="'profileInputGigPitch'"
            [placeholder]="'What is your gig about?'"
            [icon]="'microphone'"
            [iconType]="'line-icons'"
            [marginTop]="'mt-2'"
            [required]="true"
            [(value)]="newGig.pitch">
          </app-input-text>

          <!-- Price -->
          <span class="text-grey semibold mt-3 d-block">Price</span>
          <app-input-number
            [id]="'profileInputGigPrice'"
            [placeholder]="'Your gig price'"
            [icon]="'euro'"
            [iconType]="'line-icons'"
            [marginTop]="'mt-2'"
            [required]="true"
            [(value)]="newPrice">
          </app-input-number>

          <button class="btn btn-primary btn-block btn-lg mt-3" type="submit"
                  data-toggle="modal" data-target="#edit-gigs-card-step2" data-dismiss="modal">Continue</button>
        </form>

      </div>

    </div>

  </div>

</div>

<div class="modal fade" id="edit-gigs-card-step2" tabindex="-1">

  <div class="modal-dialog">

    <div class="modal-content">

      <!-- Header -->
      <app-modal-header [header]="'Create Gig'"></app-modal-header>

      <!-- Body -->
      <div class="modal-body">

        <form>

          <!-- Description -->
          <span class="text-grey semibold">Description</span>
          <app-input-textarea
            [id]="'profileInputGigDescription'"
            [placeholder]="'Tell people about your gig'"
            [rows]="8"
            [icon]="'menu-2-outline'"
            [marginTop]="'mt-2'"
            [required]="true"
            [(value)]="newGig.description">
          </app-input-textarea>

          <!-- List -->
          <span class="text-grey semibold mt-3 d-block">What does your gig include?</span>
          <div class="d-flex align-items-center flex-wrap">
            <div class="col-6 pl-0">
              <app-input-text
                [id]="'profileInputGigList1'"
                [placeholder]="'Add item'"
                [icon]="'checkmark-square'"
                [marginTop]="'mt-2'"
                [(value)]="newListItem1">
              </app-input-text>

              <app-input-text
                [id]="'profileInputGigList2'"
                [placeholder]="'Add item'"
                [icon]="'checkmark-square'"
                [marginTop]="'mt-2'"
                [(value)]="newListItem2">
              </app-input-text>

              <app-input-text
                [id]="'profileInputGigList3'"
                [placeholder]="'Add item'"
                [icon]="'checkmark-square'"
                [marginTop]="'mt-2'"
                [(value)]="newListItem3">
              </app-input-text>
            </div>

            <div class="col-6 pr-0">
              <app-input-text
                [id]="'profileInputGigList4'"
                [placeholder]="'Add item'"
                [icon]="'checkmark-square'"
                [marginTop]="'mt-2'"
                [(value)]="newListItem4">
              </app-input-text>

              <app-input-text
                [id]="'profileInputGigList5'"
                [placeholder]="'Add item'"
                [icon]="'checkmark-square'"
                [marginTop]="'mt-2'"
                [(value)]="newListItem5">
              </app-input-text>

              <app-input-text
                [id]="'profileInputGigList6'"
                [placeholder]="'Add item'"
                [icon]="'checkmark-square'"
                [marginTop]="'mt-2'"
                [(value)]="newListItem6">
              </app-input-text>
            </div>
          </div>

          <button class="btn btn-primary btn-block btn-lg mt-3" type="submit"
                  data-toggle="modal" data-target="#edit-gigs-card-step3" data-dismiss="modal">Continue</button>
        </form>

      </div>

    </div>

  </div>

</div>

<div class="modal fade" id="edit-gigs-card-step3" tabindex="-1">

  <div class="modal-dialog">

    <div class="modal-content">

      <!-- Header -->
      <app-modal-header [header]="'Create Gig'"></app-modal-header>

      <!-- Body -->
      <div class="modal-body">

        <form (submit)="createGig()">

          <!-- Images -->
          <span class="text-grey semibold mt-3 d-block">Pick some photos to show</span>
          <div class="d-flex align-items-center flex-wrap">
            <div class="col-6 pl-0">
              <app-input-text
                [id]="'profileInputImage1'"
                [placeholder]="'Add image'"
                [icon]="'checkmark-square'"
                [marginTop]="'mt-2'"
                [required]="true"
                [(value)]="newPhoto1">
              </app-input-text>

              <app-input-text
                [id]="'profileInputGigImage2'"
                [placeholder]="'Add image'"
                [icon]="'checkmark-square'"
                [marginTop]="'mt-2'"
                [(value)]="newPhoto2">
              </app-input-text>

              <app-input-text
                [id]="'profileInputGigImage3'"
                [placeholder]="'Add image'"
                [icon]="'checkmark-square'"
                [marginTop]="'mt-2'"
                [(value)]="newPhoto3">
              </app-input-text>
            </div>

            <div class="col-6 pr-0">
              <app-input-text
                [id]="'profileInputGigImage4'"
                [placeholder]="'Add image'"
                [icon]="'checkmark-square'"
                [marginTop]="'mt-2'"
                [(value)]="newPhoto4">
              </app-input-text>

              <app-input-text
                [id]="'profileInputGigImage5'"
                [placeholder]="'Add image'"
                [icon]="'checkmark-square'"
                [marginTop]="'mt-2'"
                [(value)]="newPhoto5">
              </app-input-text>

              <app-input-text
                [id]="'profileInputGigImage6'"
                [placeholder]="'Add image'"
                [icon]="'checkmark-square'"
                [marginTop]="'mt-2'"
                [(value)]="newPhoto6">
              </app-input-text>
            </div>
          </div>

          <button class="btn btn-primary btn-block btn-lg mt-3" type="submit"
                  (click)="createGig()" data-dismiss="modal">Add gig</button>
        </form>

      </div>

    </div>

  </div>

</div>
