<div class="sub-navbar container-fluid py-1 position-relative">

  <div class="d-flex align-items-center justify-content-between">

    <a class="font-size-3 text-light-grey mr-5" href="#">Graphic Design</a>
    <a class="font-size-3 text-light-grey mr-5" href="#">Comedy</a>
    <a class="font-size-3 text-light-grey mr-5" href="#">Music</a>
    <a class="font-size-3 text-light-grey mr-5" href="#">Dance</a>
    <a class="font-size-3 text-light-grey mr-5" href="#">Theatre</a>
    <a class="font-size-3 text-light-grey mr-5" href="#">Photography</a>
    <a class="font-size-3 text-light-grey mr-5" href="#">Video & Film making</a>
    <a class="font-size-3 text-light-grey mr-5" href="#">Ceramics</a>
    <a class="font-size-3 text-light-grey mr-5" href="#">Sculpting</a>
    <a class="font-size-3 text-light-grey" href="#">Painting</a>

  </div>

</div>
