<div class="sub-navbar container-fluid py-1 position-relative">

  <div class="d-flex align-items-center justify-content-between">

    <a class="font-size-3 text-light-grey mr-5 cursor-pointer">Graphic Design</a>
    <a class="font-size-3 text-light-grey mr-5 cursor-pointer">Comedy</a>
    <a class="font-size-3 text-light-grey mr-5 cursor-pointer">Music</a>
    <a class="font-size-3 text-light-grey mr-5 cursor-pointer">Dance</a>
    <a class="font-size-3 text-light-grey mr-5 cursor-pointer">Theatre</a>
    <a class="font-size-3 text-light-grey mr-5 cursor-pointer">Photography</a>
    <a class="font-size-3 text-light-grey mr-5 cursor-pointer">Video & Film making</a>
    <a class="font-size-3 text-light-grey mr-5 cursor-pointer">Ceramics</a>
    <a class="font-size-3 text-light-grey mr-5 cursor-pointer">Sculpting</a>
    <a class="font-size-3 text-light-grey cursor-pointer">Painting</a>

  </div>

</div>
