<section class="container-fluid py-4" id="academy-section">

  <!-- Banner -->
  <app-banner
    [imgUrl]="'assets/imgs/banners/academy.png'"
    [title]="'Learn from the pros'"
    [description]="'Boost your knowledge with our selection of courses.'"
    [textColor]="'white'"
  ></app-banner>

  <!-- Search -->

  <div class="search form-label-group my-3">
    <input
      type="search"
      id="searchInputAcademy"
      class="form-control"
      name="searchInputAcademy"
      placeholder="Search course"
      [(ngModel)]="search"
      (ngModelChange)="doSearch()"
      #inputSearch="ngModel">
    <i class="icon" data-eva="search"></i>
    <label for="searchInputAcademy">Search course</label>
  </div>

  <!-- Filters -->
  <div class="filters d-flex align-items-center mb-4">
    <app-filter-list
      [name]="'Category'"
      [items]="categoryFilters"
      [selectedItem]="selectedCategory"
      [marginRight]="true"
      (itemSelected)="selectFilter($event, 'category')">
    </app-filter-list>

    <app-filter-budget
      [marginRight]="true"
      (budgetApplied)="selectFilter($event, 'budget')">
    </app-filter-budget>

    <app-filter-list
      [name]="'Rate'"
      [items]="rateFilters"
      [selectedItem]="selectedRate"
      [rate]="true"
      [marginRight]="true"
      (itemSelected)="selectFilter($event, 'rate')">
    </app-filter-list>

    <app-filter-list
      [name]="'Duration'"
      [items]="durationFilters"
      [selectedItem]="selectedDuration"
      (itemSelected)="selectFilter($event, 'duration')">
    </app-filter-list>
  </div>

  <!-- Pills -->
  <div class="filter-pills w-100 d-flex align-items-center flex-wrap">
    <app-filter-pill *ngFor="let filter of selectedFilters; let last = last"
                     [label]="filter.name" [type]="filter.type" [marginRight]="!last"
                     (deleteClicked)="deleteFilter($event, filter.type)">
    </app-filter-pill>
  </div>

  <div *ngIf="this.coursesAfterSplit.length !== 0" class="d-flex align-items-center justify-content-between">
    <!-- Total -->
    <span *ngIf="coursesToShow.length !== 1" class="text-light-grey regular font-size-1">{{formatNumberWithCommas(coursesToShow.length)}} Courses found</span>
    <span *ngIf="coursesToShow.length === 1" class="text-light-grey regular font-size-1">{{formatNumberWithCommas(coursesToShow.length)}} Course found</span>

    <!-- Sort -->
    <app-sort-by
      [items]="sortItems"
      [selectedItem]="sortItems[0]"
      (itemSelected)="doSort($event)">
    </app-sort-by>
  </div>

  <!-- Courses -->
  <div class="w-100 d-flex align-items-center flex-wrap mt-3 position-relative">

    <div *ngIf="loading" class="center-x">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Finding courses...</span>
      </div>
    </div>

    <div *ngFor="let course of coursesAfterSplit" class="col-lg-3 col-md-6 col-sm-12">
      <app-course-card  [course]="course"></app-course-card>
    </div>
  </div>

  <!-- Load more -->
  <p *ngIf="coursesToShow.length > 20 && coursesAfterSplit < coursesToShow"
     class="link regular text-grey text-center font-size-2" (click)="loadMoreCourses()">Load more</p>

</section>
