@import "src/styles/abstracts/variables", "src/styles/abstracts/functions", "src/styles/abstracts/mixins";
@import "node_modules/bootstrap/scss/functions", "node_modules/bootstrap/scss/variables", "node_modules/bootstrap/scss/mixins";

.overview-gig {

  .header {
    height: 2.5rem;
    width: 100%;
    letter-spacing: 1px;

    span {
      position: relative;

      &::after {
        content: "";
        height: 3px;
        width: calc(100% + 3rem);
        background-color: #39d8c8;
        display: block;
        position: absolute;
        left: -1.5rem;
        bottom: -1.3rem;
        z-index: 10;
      }
    }

    .header-border-bottom {
      height: 1.5px;
      width: calc(100% + 3rem);
      background-color: get-color(border, 1);
      position: relative;
      left: -1.5rem;
      bottom: -1rem
    }
  }

  .price {
    font-size: 1.1rem;
  }

  .description {
    letter-spacing: 1px;
    word-break: break-word;
  }

  .item {
    svg {
      fill: get-color(primary, 3);
    }
  }

}
