@import "src/styles/abstracts/variables", "src/styles/abstracts/functions", "src/styles/abstracts/mixins";
@import "node_modules/bootstrap/scss/functions", "node_modules/bootstrap/scss/variables", "node_modules/bootstrap/scss/mixins";

$banner-height: 9rem;

.banner {
  height: $banner-height;

  .carousel-indicators {
    left: 1rem;
    width: fit-content;
    margin-left: 0;
    margin-right: 0;

    li {
      height: 8px;
      width: 16px;
      border-radius: 10px;
      border: none;
      background-color: white;
      opacity: .6;

      &.active {
        width: 32px;
        opacity: 1;
      }
    }
  }

  &.rounded {
    border-radius: 6px !important;
  }

  img {
    width: 100%;
    height: $banner-height;
    object-fit: cover;
  }

  .text {
    position: absolute;
    top: 1.3rem;
    left: 1.3rem;

    .title {
      letter-spacing: 1px;
      font-size: 1.3rem;

      @include media-breakpoint-down(md) {
        font-size: 95%;
      }
    }

    .description {
      font-size: .9rem;
      @include media-breakpoint-down(md) {
        font-size: 80%;
      }
    }
  }
}
