// --------------------------------------------
// Colors -------------------------------------
// Usage example: color(primary, main)
// --------------------------------------------
$color: (
  typography: (
    1: #202b36,
    2: #5b6f82,
    3: #92a2b1,
    1i: #fff,
    2i: rgba( #fff, .8 )
  ),
  bg: (
    1: white,
    2: #f6f8fa,
    3: #e3e7eb
  ),
  border: (
    1: #EFF0F6
  ),
  primary: (
    1: #4992f0,
    2: #75abf3,
    3: #1274ed,
  ),
  secondary: (
    1: #838dea,
    2: #a0a6ee,
    3: #626cd5
  ),
  additional: (
    1: #7ce8dd,
    2: #a0eee5,
    3: #39d8c8
  ),
  additional-2: (
    1: #ff6d8b,
    2: #ff97ac,
    3: #ff4f73
  ),
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__family: (
  base: '"Inter", sans-serif', // font-family(base)
  heading: '"Boldywolf", sans-serif', // font-family(heading)
  code: 'Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace', // font-family(code)
  pre: '"Courier 10 Pitch", Courier, monospace' // font-family(pre)
);

$font__sizes: (
  alpha:   ( 2.1rem, 2.6rem, -0.00625rem ), // font-size, line-height, kerning (use '0' if don't want to output any kerning)
  beta:    ( 1.875rem, 2.5rem, -0.0125rem ),
  gamma:   ( 1.675rem, 2.25rem, -0.00625rem),
  delta:   ( 1.25rem, 1.875rem, -0.00625rem ),
  epsilon: ( 1.125rem, 1.6875rem, -0.00625rem ),
  zeta:    ( 1rem, 1.5rem, -0.00625rem ),
  eta:     ( 0.875rem, 1.25rem, 0px ),
  theta:   ( 0.8125rem, 1.125rem, 0px ),
  iota:    ( 0.75rem, 1rem, 0px )
);

$font__scale: (
  desktop: (
    1: map-get($font__sizes, alpha),   // H1
    2: map-get($font__sizes, beta),    // H2
    3: map-get($font__sizes, gamma),   // H3
    4: map-get($font__sizes, delta),   // H4, H5, H6
    5: map-get($font__sizes, delta),   // Body
    6: map-get($font__sizes, epsilon), // Text small (e.g. features description)
    7: map-get($font__sizes, zeta),    // Text smaller (e.g. pricing table's lists)
    8: map-get($font__sizes, eta),     //
    9: map-get($font__sizes, theta),   // Header links, buttons
    10: map-get($font__sizes, iota)    // Text super small (e.g. footer © 2020, Artistree)
  ),
  mobile: (
    1: map-get($font__sizes, beta),    // H1
    2: map-get($font__sizes, gamma),   // H2
    3: map-get($font__sizes, delta),   // H3
    4: map-get($font__sizes, epsilon), // H4, H5, H6
    5: map-get($font__sizes, epsilon), // Body
    6: map-get($font__sizes, epsilon), // Text small (e.g. features description)
    7: map-get($font__sizes, zeta),    // Text smaller (e.g. pricing table's lists)
    8: map-get($font__sizes, eta),     //
    9: map-get($font__sizes, eta),     // Header links, buttons
    10: map-get($font__sizes, theta)   // Text super small (e.g. footer © 2020, Artistree)
  )
);

$font__weight: (
  light: 300,     // font__weight(light)
  regular: 400, 	// font__weight(regular)
  medium: 500,	  // font__weight(medium)
  semibold: 600,	// font__weight(semi-bold)
  bold: 700		    // font__weight(bold)
);

// --------------------------------------------
// Structure ----------------------------------
// --------------------------------------------
$content__padding: (
  mobile: 20px,
  desktop:  30px
);
$container__width: 1080px;
$container__width-sm: 800px;
