@import "../../../../styles/abstracts/variables", "../../../../styles/abstracts/functions", "../../../../styles/abstracts/mixins";
@import "../../../../../node_modules/bootstrap/scss/functions", "../../../../../node_modules/bootstrap/scss/variables", "../../../../../node_modules/bootstrap/scss/mixins";

.divider {
  div {
    height: 2px;
    width: 45%;
    background-color: get-color(border, 1);
  }
}

span span {
  font-size: inherit;
}

.modal {

  .avatar {
    height: 6rem;
    width: 6rem;

    img {
      width: 100%;
      height: 6rem;
      object-fit: cover;
    }
  }

}
