@import "src/styles/abstracts/variables", "src/styles/abstracts/functions", "src/styles/abstracts/mixins";
@import "node_modules/bootstrap/scss/functions", "node_modules/bootstrap/scss/variables", "node_modules/bootstrap/scss/mixins";

$card-height: 10rem;
$avatar-height: 5rem;

.main {
  height: $card-height;
  background-color: white;
  box-shadow: 0 4.74764px 9.49528px rgba(17, 17, 17, 0.04);

  &.rounded, {
    border-radius: 18.9906px !important;
  }

  .rounded-top-right {
    border-top-right-radius: 18.9906px;
  }

  .rounded-bottom-right {
    border-bottom-right-radius: 18.9906px;
  }
}

.cover-div {
  width: 100%;
  height: $avatar-height;
  object-fit: cover;
}

.avatar-div {
  height: $avatar-height;
  width: $avatar-height;
}

.pics-div {
  height: 100%;
  width: 100%;
}

.pics-img {
  height: calc(#{$card-height}/2);
}

.left-section {
  .name {
    font-size: .85rem;
  }

  .job {
    font-size: .7rem;
  }
}


