<section class="container-fluid py-4" id="discover-gigs-section">

  <!-- Banner -->
  <app-banner
    [imgUrl]="'assets/imgs/banners/discover-gigs.png'"
    [title]="'Marketplace'"
    [description]="'Find the perfect gig for your needs.'"
    [textColor]="'grey'"
  ></app-banner>

  <!-- Search -->

  <div class="search form-label-group my-3">
    <input
      type="search"
      id="searchInputDiscoverGigs"
      class="form-control"
      name="searchInputDiscoverGigs"
      placeholder="Search gig"
      [(ngModel)]="search"
      (ngModelChange)="doSearch()"
      #inputSearch="ngModel">
    <i class="icon" data-eva="search"></i>
    <label for="searchInputDiscoverGigs">Search gig</label>
  </div>

  <!-- Filters -->
  <div class="filters d-flex align-items-center mb-4">
<!--    <app-filter-list-->
<!--      [name]="'Category'"-->
<!--      [items]="categoryFilters"-->
<!--      [selectedItem]="selectedCategory"-->
<!--      [marginRight]="true"-->
<!--      (itemSelected)="selectFilter($event, 'category')">-->
<!--    </app-filter-list>-->

<!--    <app-filter-list-->
<!--      [name]="'Location'"-->
<!--      [items]="locationFilters"-->
<!--      [selectedItem]="selectedLocation"-->
<!--      (itemSelected)="selectFilter($event, 'location')">-->
<!--    </app-filter-list>--> <!-- TODO: category, budget -->

  </div>

  <!-- Pills -->
  <div class="filter-pills w-100 d-flex align-items-center flex-wrap">
    <app-filter-pill *ngFor="let filter of selectedFilters; let last = last"
                     [label]="filter.name" [type]="filter.type" [marginRight]="!last"
                     (deleteClicked)="deleteFilter($event, filter.type)">
    </app-filter-pill>
  </div>

  <div *ngIf="this.gigsAfterSplit.length !== 0" class="d-flex align-items-center justify-content-between">
    <!-- Total -->
    <span *ngIf="gigsToShow.length !== 1" class="text-light-grey regular font-size-1">{{formatNumberWithCommas(gigsToShow.length)}} Gigs found</span>
    <span *ngIf="gigsToShow.length === 1" class="text-light-grey regular font-size-1">{{formatNumberWithCommas(gigsToShow.length)}} Gig found</span>

    <!-- Sort -->
    <app-sort-by
      [items]="sortItems"
      [selectedItem]="sortItems[0]"
      (itemSelected)="doSort($event)">
    </app-sort-by>
  </div>

  <!-- Gigs -->
  <div class="w-100 d-flex align-items-center flex-wrap mt-3 position-relative">

    <div *ngIf="loading" class="center-x">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Finding gigs...</span>
      </div>
    </div>

    <div *ngFor="let gig of gigsAfterSplit" class="col-lg-3 col-md-6 col-sm-12">
      <app-gig-card  [gig]="gig"></app-gig-card>
    </div>
  </div>

  <!-- Load more -->
  <p *ngIf="gigsToShow.length > 20 && gigsAfterSplit < gigsToShow" class="link regular text-grey text-center font-size-2" (click)="loadMoreGigs()">Load more</p>

</section>
