<section class="features" id="section-features">

  <div class="container">

    <div class="features-inner section-inner has-bottom-divider">
      <div class="features-wrap">

        <!-- Feature #1 -->
        <div class="feature is-revealing">
          <div class="feature-blob blob1"></div>
          <div class="feature-inner left">
            <div class="feature-text">
              <h3 class="feature-title h3-mobile">Match with artists <br> tailored to your taste</h3>
              <p class="feature-description">Artistree will give you suggestions based on your profile and interests so that you can directly connect and support new artists that are in sync with you that you wouldn’t discover otherwise.</p>
            </div>
            <img src="assets/imgs/features/feature1.svg" alt="feature 1">
          </div>
        </div>

        <!-- Feature #2 -->
        <div class="feature is-revealing">
          <div class="feature-inner right">
            <div class="feature-text">
              <h3 class="feature-title h3-mobile">Be on the front row with <br> live remote performances</h3>
              <p class="feature-description">Artists can stream freely or schedule free live performances to gather their audience, with options for receiving feedback - like virtual cheering - and suggestions from the spectators, as well as monetary boons.</p>
            </div>
            <img src="assets/imgs/features/feature2.svg" alt="feature 2">
          </div>
        </div>

        <!-- Feature #3 -->
        <div class="feature is-revealing">
          <div class="feature-blob blob2"></div>
          <div class="feature-inner left">
            <div class="feature-text">
              <h3 class="feature-title h3-mobile">Book gigs and buy from <br> artists you admire</h3>
              <p class="feature-description">Hire an artist you like to perform for you. Think about booking a band for a wedding or a magician for the kid's party.
                You can also buy products directly from the artist - imagine making an offer on a painting even while it's being painted live in front of you!</p>
            </div>
            <img src="assets/imgs/features/feature3.svg" alt="feature 3">
          </div>
        </div>

        <!-- Feature #4 -->
        <div class="feature is-revealing">
          <div class="feature-inner right">
            <div class="feature-text">
              <h3 class="feature-title h3-mobile">Learn from the pros</h3>
              <p class="feature-description">Use the community forum to filter threads by topic and get help when you find yourself stuck. You can also enrol in a class or a full course from experienced artists to keep on learning and improving.</p>
            </div>
            <img src="assets/imgs/features/feature4.svg" alt="feature 4">
          </div>
        </div>

      </div>
    </div>

  </div>

</section>
