<section class="container-fluid py-4" id="homepage-section">

  <!-- Banner -->
  <app-banner-carousel
    [items]="bannerItems"
    [id]="'homepageBanner'">
  </app-banner-carousel>

  <h4 class="mt-5">See who's live now</h4>

  <div class="w-100 live-now position-relative mt-3">

    <ngx-slick-carousel *ngIf="lives.length !== 0" class="carousel"
                        id="liveCarousel"
                        [config]="slideConfig"
                        #slickModal='slick-carousel'>

      <div ngxSlickItem *ngFor="let live of lives" class="slide mr-3 position-relative">
        <app-live-card (ngInit)="loadIcons()" [live]="live"></app-live-card>
      </div>

    </ngx-slick-carousel>

  </div>

  <div class="row mt-4">

    <div class="col-12 col-md-9 mr-3">

      <!-- Feed -->
      <app-feed-post *ngFor="let feed of feeds; let last = last"
                     [feed]="feed"
                      [marginBottom]="!last">
      </app-feed-post>

      <!-- Load more -->
      <p class="link regular text-grey text-center font-size-2 mt-3">Load more</p>

    </div>



    <div class="col card-att card-filled mt-4 mt-md-0">
      <h4 class="mt-0 mb-2" style="font-size: 1rem">Discover new artists</h4>

      <app-artist-card *ngFor="let artist of artists" [artist]="artist"></app-artist-card>

      <!-- Load more -->
      <p class="link regular text-grey text-center font-size-2">Load more</p>
    </div>

  </div>

</section>
