<section class="container-fluid py-4" id="homepage-section">

  <!-- Banner -->
  <app-banner-carousel
    [items]="bannerItems"
    [id]="'homepageBanner'">
  </app-banner-carousel>

  <h4 class="mt-5">See who's live now</h4>

  <div class="w-100 live-now position-relative">

    <ngx-slick-carousel class="carousel"
                        id="liveCarousel"
                        [config]="slideConfig"
                        #slickModal='slick-carousel'>

      <div ngxSlickItem *ngFor="let live of lives" class="slide mr-3 position-relative">
        <app-live-card [live]="live"></app-live-card>
      </div>

    </ngx-slick-carousel>

  </div>

  <div class="row mt-4">

    <div class="col-9 mr-3">

      <!-- Feed -->
      <div *ngFor="let feed of feeds" class="w-100 mb-3 card-att">

        <div class="feed">

          <div class="top d-flex align-items-center">

            <div class="avatar mr-2">
              <img class="rounded-circle" src="{{feed.avatar}}" alt="avatar">
            </div>

            <span class="text-dark bold">{{feed.name}}</span>

          </div>

          <div class="text">
            <p class="description text-dark font-size-3 mb-2 mt-1">{{feed.description}}</p>
            <p class="when text-grey font-size-4">Reviewed on {{getTime(feed.timestamp)}}</p>
          </div>

        </div>

      </div>

      <!-- Load more -->
      <p class="link regular text-grey text-center font-size-2">Load more</p>

    </div>



    <div class="col card-att card-filled" style="border-radius: 0">
      <h4 class="mt-0 mb-2" style="font-size: 1rem">Discover new artists</h4>

      <app-artist-card *ngFor="let artist of artists" [artist]="artist"></app-artist-card>
    </div>

  </div>

</section>
