@import "src/styles/abstracts/variables", "src/styles/abstracts/functions", "src/styles/abstracts/mixins";
@import "node_modules/bootstrap/scss/functions", "node_modules/bootstrap/scss/variables", "node_modules/bootstrap/scss/mixins";

.site-header {
  position: relative;
  height: 64px;
  width: 100%;
  z-index: 500;

  .container {
    max-width: none;
    height: 64px;
  }

  .site-header-wrapper.desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.border-bottom {
    border-bottom: 2px solid #EFF0F6 !important;
  }
}

.site-header-inner {
  position: relative; /* To display all elements above the background color */
  display: flex;
  align-items: center;
}

.navigation a,
.av a {
  @include font-size-att(9, desktop);
  @include font-weight-att(semibold);
  color: get-color(typography, 2);
  text-decoration: none;
  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover {
    text-decoration: underline;
  }
}

/* Mobile */
.site-header-wrapper.mobile {
  display: none;

  .header-mobile {
    display: flex;
    justify-content: space-between;
  }

  .toggle-menu {
    display: none;

    .navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1.5rem;

      a {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }

  .hamburger {
    padding: 0;
    &:focus {
      outline: none;
      box-shadow: none;
    }

    .hamburger-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5px;

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        width: 25px;
        height: 2.5px;
      }

      .hamburger-inner::before { top: 8px; }

      .hamburger-inner::after { top: 16px; }
    }

    &.is-active .hamburger-box {
      .hamburger-inner::after { top: 19px; }
    }
  }
}

@include media-breakpoint-down(md) {
  .navigation a {
    @include font-size-att(9, mobile);
  }

  .site-header {
    .site-header-wrapper {
      &.desktop {
        display: none;
      }

      &.mobile {
        display: block;
      }
    }
  }

}

.btn {
  padding: .5rem 1.5rem;
}

.search-small {
  width: 12rem;
}

.actions svg {
  fill: #9BAFC3;
  cursor: pointer;
}

.actions .ball {
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: get-color(primary, 3);
    display: block;
    border: 2px solid #FCFCFC;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.avatar {
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  img {
    width: 100%;
    height: 2rem;
    object-fit: cover;
  }
}

.site-header .dropdown-item {
  &:hover, &:focus {
    text-decoration: none;
    background-color: white;
    p { color: get-color(primary, 3) !important; }
  }
}

.site-header .dropdown-menu {
  transform: translate3d(-15px, 45px, 0px) !important;
}

.site-header .av .dropdown-menu {
  transform: translate3d(-130px, 45px, 0px) !important;
}

.av a {
  @include font-weight-att(regular);
}

.site-header .dropdown-item {
  &:hover, &:focus {
    text-decoration: none;
    background-color: white;
    color: get-color(primary, 3) !important;
  }
}
