<header class="site-header border-bottom" id="header">

  <div class="container d-flex align-items-center">

    <!-- Desktop -->
    <div class="site-header-wrapper desktop w-100">

      <div class="site-header-left d-flex align-items-center">

        <!-- Logo -->
        <div class="brand header-brand mr-3" (click)="closeMenu()">
          <a href="#" [routerLink]="'/feed'">
            <img src="assets/imgs/logo.svg" alt="logo">
          </a>
        </div>

        <!-- Search -->
        <div class="search-navbar form-label-group">
          <input
            type="search"
            id="searchInput"
            class="form-control"
            name="searchInput"
            placeholder="Search"
            [(ngModel)]="search"
            #inputSearch="ngModel"
            (search)="doSearch()">
          <i class="icon" data-eva="search"></i>
          <label for="searchInput">Search</label>
        </div>

      </div> <!-- ./site-header-left -->

      <div class="site-header-inner">

        <!-- Navigation -->
        <div class="navigation d-flex align-items-center mr-3">
          <div>
            <a href="#" data-toggle="dropdown">Discover</a>
            <div class="dropdown-menu shadow-sm">
              <a class="dropdown-item px-3" href="#" routerLink="/discover/artists">
                <p class="text-grey medium mb-1">Artists</p>
                <p class="text-light-grey regular mb-0">Discover talented artists and<br> support their art</p>
              </a>
              <a class="dropdown-item px-3 mt-2" href="#" routerLink="/discover/gigs">
                <p class="text-grey medium mb-1">Gigs</p>
                <p class="text-light-grey regular mb-0">Browse our marketplace and<br> book gigs</p>
              </a>
            </div>
          </div>
          <a href="#">Community</a>
          <a href="#" routerLink="/academy">Academy</a>
        </div>

        <!-- Actions -->
        <div class="actions d-flex align-items-center border-left pl-3">
          <i *ngIf="!hasMessages()" class="icon mr-3" data-eva="email-outline"></i>
          <div *ngIf="hasMessages()" class="ball"><i class="icon mr-3" data-eva="email"></i></div>

          <i *ngIf="!hasNotifications()" class="icon" data-eva="bell-outline"></i>
          <div *ngIf="hasNotifications()" class="ball"><i class="icon" data-eva="bell"></i></div>
        </div>

        <!-- Avatar -->
        <div class="av position-relative">
          <div class="avatar ml-3" data-toggle="dropdown">
            <img *ngIf="user.avatar" class="rounded-circle" src="{{user.avatar}}" alt="profile picture">
            <img *ngIf="!user.avatar" class="rounded-circle" src="assets/imgs/default-avatar.svg" alt="profile picture">
          </div>

          <div class="dropdown-menu shadow-sm">
            <a class="dropdown-item px-3 cursor-pointer" (click)="goToProfile()">Profile</a>
            <a class="dropdown-item px-3 mt-2" href="#">Become an Artist</a>
            <a class="dropdown-item px-3 mt-2 pt-2 border-top" href="#">Settings</a>
            <a class="dropdown-item px-3 mt-2" href="#">Help & Support</a>
            <a class="dropdown-item px-3 mt-2 pt-2 border-top" href="#" (click)="logout()">Logout</a>
          </div>
        </div>

      </div> <!-- ./site-header-inner -->

    </div> <!-- ./site-header-wrapper -->

    <!-- Mobile -->
    <div class="site-header-wrapper mobile w-100" id="mobile">

      <div class="header-mobile">
        <div class="brand header-brand" (click)="closeMenu()">
          <a href="#" [routerLink]="'/feed'">
            <img src="assets/imgs/logo.svg" alt="logo">
          </a>
        </div>

        <button class="hamburger hamburger--slider" type="button" id="toggler" aria-label="mobile menu"
                (click)="toggleMenu()">
				  <span class="hamburger-box">
					<span class="hamburger-inner"></span>
				  </span>
        </button>
      </div>

      <div class="toggle-menu" id="toggle-menu" (click)="closeMenu()">
        <div class="d-flex justify-content-center align-items-center w-100 mt-3">
          <div class="avatar mr-2">
            <img *ngIf="user.avatar" class="rounded-circle" src="{{user.avatar}}" alt="profile picture">
            <img *ngIf="!user.avatar" class="rounded-circle" src="assets/imgs/default-avatar.svg" alt="profile picture">
          </div>
          <span class="text-primary semibold">{{user.name}}</span>
        </div>

        <div class="navigation mt-3">
          <a href="#">Discover</a>
          <a href="#">Community</a>
          <a href="#" routerLink="/academy">Academy</a>
        </div>

        <div class="actions d-flex align-items-center mt-2 border-top py-2">
          <div class="w-50 d-flex justify-content-center border-right">
            <i *ngIf="!hasMessages()" class="icon mr-2" data-eva="email-outline"></i>
            <div *ngIf="hasMessages()" class="ball"><i class="icon mr-2" data-eva="email"></i></div>
          </div>

          <div class="w-50 d-flex justify-content-center">
            <i *ngIf="!hasNotifications()" class="icon" data-eva="bell-outline"></i>
            <div *ngIf="hasNotifications()" class="ball"><i class="icon" data-eva="bell"></i></div>
          </div>
        </div>
      </div>

    </div>

  </div> <!-- /.container -->

</header>

<app-join-modal></app-join-modal>
<app-sign-in-modal></app-sign-in-modal>
