<app-navbar-homepage *ngIf="_router.url != '/404' && _router.url === '/'"></app-navbar-homepage>
<app-navbar *ngIf="_router.url != '/404' && _router.url != '/'"></app-navbar>
<app-sub-navbar *ngIf="_router.url != '/404' && _router.url != '/'"></app-sub-navbar>

<router-outlet></router-outlet>
<app-footer *ngIf="_router.url != '/404'"></app-footer>


<!-- Alerts
================================================== -->
<div class="alerts">
  <div id="infoAlert" class="alert alert-info collapse" role="alert" onclick="$('#infoAlert').hide();">
    <div class="d-flex align-items-center">
      <div class="alert-icon-container">
        <i class="icon" data-eva="question-mark"></i>
      </div>
      <div class="alert-content">
        <p class="alert-title"></p>
        <p class="alert-text"></p>
      </div>
    </div>
  </div>

  <div id="warningAlert" class="alert alert-warning collapse" role="alert" onclick="$('#warningAlert').hide();">
    <div class="d-flex align-items-center">
      <div class="alert-icon-container">
        <i class="icon" data-eva="alert-triangle-outline"></i>
      </div>
      <div class="alert-content">
        <p class="alert-title"></p>
        <p class="alert-text"></p>
      </div>
    </div>
  </div>

  <div id="dangerAlert" class="alert alert-danger collapse" role="alert" onclick="$('#dangerAlert').hide();">
    <div class="d-flex align-items-center">
      <div class="alert-icon-container">
        <i class="icon" data-eva="flash-outline"></i>
      </div>
      <div class="alert-content">
        <p class="alert-title"></p>
        <p class="alert-text"></p>
      </div>
    </div>
  </div>

  <div id="successAlert" class="alert alert-success collapse" role="alert" onclick="$('#successAlert').hide();">
    <div class="d-flex align-items-center">
      <div class="alert-icon-container">
        <i class="icon" data-eva="checkmark-circle-outline"></i>
      </div>
      <div class="alert-content">
        <p class="alert-title"></p>
        <p class="alert-text"></p>
      </div>
    </div>
  </div>

  <div id="loveAlert" class="alert alert-danger collapse" role="alert" onclick="$('#loveAlert').hide();">
    <div class="d-flex align-items-center">
      <div class="alert-icon-container">
        <i class="icon" data-eva="heart-outline"></i>
      </div>
      <div class="alert-content">
        <p class="alert-title"></p>
        <p class="alert-text"></p>
      </div>
    </div>
  </div>

  <div id="tipAlert" class="alert alert-success collapse" role="alert" onclick="$('#tipAlert').hide();">
    <div class="d-flex align-items-center">
      <div class="alert-icon-container">
        <span class="text-primary semibold" style="font-size: 1rem">€</span>
      </div>
      <div class="alert-content">
        <p class="alert-title"></p>
        <p class="alert-text"></p>
      </div>
    </div>
  </div>
</div>
<!-- ================================================== -->
