<h1>Hello world</h1>
<button type="submit" (click)="signup('12@gmail.com','passddddd')">SignupA</button>
<button type="submit" (click)="createArtist('megajoker','Guiherme', 'Monteiro')">Create Artist</button>
<button type="submit" (click)="createCourse('Programação 1',30, 'curso de programação')">Create Course</button>
<button type="submit" (click)="createBooking('SHOW', 'curso de programação',30, 45)">Create Booking</button>


<button type="submit" (click)="login('12@gmail.com','passddddd')">LoginA</button>




<button type="submit" (click)="signup('1234@gmail.com','passddddd')">SignupR</button>
<button type="submit" (click)="createRegular('mega','Joao', 'Vitor')">Create Regular</button>
<button type="submit" (click)="enrollInCourse('Programação 1')">Enroll in Course</button>

<button type="submit" (click)="regularFollow('Jcxs9uz6yHfTHDj3jvXuRXAt0Pn2')">Regular Follow</button>


<button type="submit" (click)="login('1234@gmail.com','passddddd')">LoginR</button>

<button type="submit" (click)="logout()">Logout</button>



<button type="submit" (click)="signup('ababab4@gmail.com','passddddd')">SignupR</button>
<button type="submit" (click)="createRegular('joker','Jacinto', 'Vitor')">Create Regular</button>
<button type="submit" (click)="enrollInCourse('Programação 1')">Enroll in Course</button>
<button type="submit" (click)="enrollInBooking('SHOW')">Enroll in Booking</button>



<button type="submit" (click)="login('ababab4@gmail.com','passddddd')">LoginRR</button>
