<div class="interests card-att mt-4">

  <!-- Edit btn -->
  <div data-toggle="modal" data-target="#edit-interests-card">
    <i *ngIf="isCurrent" class="edit-icon" data-eva="edit"></i>
  </div>

  <h6 class="subtitle">Interests</h6>

  <div class="w-100 d-flex align-items-center flex-wrap">
    <app-pill *ngFor="let interest of user.interests; let last = last"
              [label]="interest" [marginRight]="!last">
    </app-pill>
  </div>

</div>

<div class="modal fade" id="edit-interests-card" tabindex="-1">

  <div class="modal-dialog">

    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h4 class="modal-title mt-3">Edit profile</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="lni lni-close"></i>
        </button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <form #form="ngForm" (submit)="update()">
          <span class="text-grey semibold">General Information</span>



          <button class="btn btn-primary btn-block btn-lg mt-3" type="submit"
                  (click)="update()" data-dismiss="modal">Update</button>
        </form>

      </div>

    </div>

  </div>

</div>
