<div class="card-att mt-4">

  <div class="interests position-relative">

    <!-- Edit btn -->
    <div data-toggle="modal" data-target="#edit-interests-card">
      <i *ngIf="isCurrent" class="edit-icon sections" data-eva="edit"></i>
    </div>

    <h6 class="subtitle">Interests</h6>
    <span *ngIf="user.interests.length === 0" class="text-grey font-size-3">No interests to show</span>

    <div *ngIf="user.interests.length !== 0" class="w-100 d-flex align-items-center flex-wrap"
         [ngClass]="{'mb-3': user.type === 'artist'}">
      <app-pill *ngFor="let interest of user.interests; let last = last"
                [isCurrent]="isCurrent" [user]="user" [label]="interest" [marginRight]="!last"
                (deleteClicked)="deleteInterest($event)">
      </app-pill>
    </div>

  </div>

  <div *ngIf="user.type === 'artist'" class="areas position-relative border-top pt-3">

    <!-- Edit btn -->
    <div data-toggle="modal" data-target="#edit-artistic-areas-card">
      <i *ngIf="isCurrent" class="edit-icon sections" data-eva="edit"></i>
    </div>

    <h6 class="subtitle">Artistic areas</h6>
    <span *ngIf="user.artisticAreas.length === 0" class="text-grey font-size-3">No artistic areas to show</span>

    <div *ngIf="user.artisticAreas.length !== 0" class="w-100 d-flex align-items-center flex-wrap">
      <app-pill *ngFor="let area of user.artisticAreas; let last = last"
                [isCurrent]="isCurrent" [user]="user" [label]="area" [marginRight]="!last"
                (deleteClicked)="deleteArtisticArea($event)">
      </app-pill>
    </div>

  </div>

</div>

<div class="modal fade" id="edit-interests-card" tabindex="-1">

  <div class="modal-dialog modal-sm-att">

    <div class="modal-content">

      <!-- Header -->
      <app-modal-header [header]="'Edit profile'"></app-modal-header>

      <!-- Body -->
      <div class="modal-body">

        <form (submit)="updateInterests()">

          <!-- Interests -->
          <span class="text-grey semibold">Interests</span>

          <app-input-select
            [id]="'profileSelectInterests'"
            [placeholder]="'Pick a new interest...'"
            [options]="getOptions('interests')"
            [icon]="'heart-outline'"
            [marginTop]="'mt-2'"
            (valueChange)="newInterest = $event">
          </app-input-select>

          <button class="btn btn-primary btn-block btn-lg mt-3" type="submit"
                  (click)="updateInterests()" data-dismiss="modal">Update</button>

        </form>

      </div>

    </div>

  </div>

</div>

<div class="modal fade" id="edit-artistic-areas-card" tabindex="-1">

  <div class="modal-dialog modal-sm-att">

    <div class="modal-content">

      <!-- Header -->
      <app-modal-header [header]="'Edit profile'"></app-modal-header>

      <!-- Body -->
      <div class="modal-body">

        <form (submit)="updateArtisticAreas()">

          <!-- Artistic areas -->
          <span class="text-grey semibold">Artistic areas</span>

          <app-input-select
            [id]="'profileSelectArtisticAreas'"
            [placeholder]="'Pick a new artistic area...'"
            [options]="getOptions('artistic-areas')"
            [icon]="'color-palette-outline'"
            [marginTop]="'mt-2'"
            (valueChange)="newArtisticArea = $event">
          </app-input-select>

          <button class="btn btn-primary btn-block btn-lg mt-3" type="submit"
                  (click)="updateArtisticAreas()" data-dismiss="modal">Update</button>

        </form>

      </div>

    </div>

  </div>

</div>
