<div class="main rounded mb-3">

  <div class="image">
    <img class="rounded-top-right rounded-top-left" src="{{gig.imagesURL[0]}}" alt="gig image">
  </div>

  <div class="content mx-3 my-2 position-relative">
    <p class="title text-dark semibold mb-1">{{formatText(50, gig.name)}}</p>
    <p class="description text-grey regular mb-3">{{formatText(70, gig.pitch)}}</p>
    <p class="price text-right text-dark semibold mb-3">{{gig.price}}€</p>
    <button class="btn btn-primary-rounded btn-block">BOOK</button>
  </div>

</div>
