@import "src/styles/abstracts/variables", "src/styles/abstracts/functions", "src/styles/abstracts/mixins";
@import "node_modules/bootstrap/scss/functions", "node_modules/bootstrap/scss/variables", "node_modules/bootstrap/scss/mixins";

$avatar-height: 1.8rem;

.avatar {
  width: $avatar-height;
  height: $avatar-height;

  img {
    width: 100%;
    height: $avatar-height;
    object-fit: cover;
  }
}

#liveVideoBar {
  background: get-color(typography, 1);
  height: 2.5rem;
}

.overlay {
  overflow: visible;
  pointer-events: none;
  background:none !important;
}

.barIcon {
  border-radius: 50%;
  cursor: pointer;
  height: 1.8rem;
  width: 1.8rem;
  position: relative;

  &.tip {
    background-color: get-color(primary, 3);
    color: white;

    &:hover {
      background-color: darken(get-color(primary, 3), 10);
    }
  }

  &.cheer {
    background-color: get-color(danger, 1);
    svg { fill: white; }

    &:hover {
      background-color: get-color(danger, 3);
    }
  }

  &.expand {
    background-color: white;
    svg { fill: get-color(typography, 2); }

    &:hover {
      background-color:  get-color(typography, 2);
      svg { fill: white; }
    }
  }
}

.chat-icon {
  fill: get-color(typography, 2);
}

.postsWrapper {
  overflow: scroll;
  overflow-x: hidden;
  height: 25rem;
}

