<section *ngIf="artist && live" class="container-fluid py-4" id="streaming-section">

  <h4>{{live.name}}</h4>

  <div class="top d-flex align-items-center">

    <div class="avatar mr-2">
      <img class="rounded-circle" src="{{artist.avatar}}" alt="avatar">
    </div>

    <span class="text-grey">{{artist.name}}</span>

  </div>

  <div class="row mx-0 mt-4">

    <!-- Live -->
    <div id="liveVideoDiv" class="col-12 col-md-8 pl-0" (window:resize)="resizeIframe()">

      <!-- Video -->
      <div id="liveVideoO" [ngClass]="{'overlay': !allowClicksInVideo}">
        <iframe id="liveVideo" [ngClass]="{'d-none': loadingIframe}"
                width="840" height="472,5" [src]="url"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                (load)='resizeIframe()'>
        </iframe>
      </div>

      <!-- Bar -->
      <div id="liveVideoBar" class="d-flex align-items-center justify-content-end pr-3">

        <div class="barIcon tip mr-3" data-toggle="modal" data-target="#tipModal">
          <p class="icon semibold center-xy">€</p>
        </div>

        <div class="barIcon cheer mr-3" (click)="cheer()">
          <i class="icon center-xy" data-eva="heart"></i>
        </div>

        <div class="barIcon expand" (click)="fullscreen()" >
          <i class="icon center-xy" data-eva="expand"></i>
        </div>

      </div>

      <!-- Tags -->
      <div class="tags d-flex align-items-center mt-2">
        <app-pill *ngFor="let tag of live.tags; let last = last" [label]="tag" [marginRight]="!last"></app-pill>
      </div>

    </div> <!-- ./live -->

    <!-- Chat -->
    <div class="col-12 col-md-4 px-0 pl-md-3 mt-4 mt-md-0">

      <div *ngIf="!loadingIframe" class="card-att">
        <h4 class="subtitle d-flex align-items-center"><i class="chat-icon mr-2" data-eva="message-circle"></i>Live chat</h4>

        <!-- Posts -->
        <div class="postsWrapper mt-3">
          <app-streaming-post *ngFor="let post of live.posts"
              [post]="post">
          </app-streaming-post>
        </div>

        <!-- Input -->
        <app-input-text
          [id] = "'post'"
          [placeholder] = "'Leave a comment'"
          [icon] = "'edit-2'"
          [(value)] = "postText"
          [marginTop] = "'mt-1'"
          (keydown.enter)="sendPost()">
        </app-input-text>

      </div>

    </div>

  </div>

</section>

<div class="modal fade" id="tipModal" tabindex="-1">

  <div class="modal-dialog modal-sm-att">

    <div class="modal-content">

      <!-- Header -->
      <app-modal-header [header]="'Tipping'"></app-modal-header>

      <!-- Body -->
      <div class="modal-body text-center">

        <span class="text-grey semibold">Send a tip and show appreciation</span>

        <div class="d-flex align-items-center justify-content-between mt-3">
          <button class="btn btn-primary btn-block btn-lg mr-2"
                  (click)="bid(5)" data-dismiss="modal">5 €</button>

          <button class="btn btn-primary btn-block btn-lg mt-0 ml-2"
                  (click)="bid(10)" data-dismiss="modal">10 €</button>
        </div>

        <div class="d-flex align-items-center justify-content-between mt-2 mb-2">
          <button class="btn btn-primary btn-block btn-lg mr-2"
                  (click)="bid(15)" data-dismiss="modal">15 €</button>

          <button class="btn btn-seconday btn-block btn-lg mt-0 ml-2">Other</button>
        </div>

      </div>

    </div>

  </div>

</div>
