$avatar-height: 2rem;

.avatar {
  width: $avatar-height;
  height: $avatar-height;

  img {
    width: 100%;
    height: $avatar-height;
    object-fit: cover;
  }
}

.text {
  padding-left: calc(#{$avatar-height} + .5rem);
}

#liveVideoBar {
  background: #202b36;
  height: 2rem;
}

.overlay {
  overflow: visible;
  pointer-events: none;
  background:none !important;
}

.barIcon {
  border-radius: 50%;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.25rem;
  position: relative;
}

.postsWrapper {
  overflow: scroll;
  overflow-x: hidden;
  height: 30rem;
}

