<section *ngIf="artist && live" class="container-fluid py-4" id="streaming-section">

  <h4>{{live.name}}</h4>

  <div class="top d-flex align-items-center">

    <div class="avatar mr-2">
      <img class="rounded-circle" src="{{artist.avatar}}" alt="avatar">
    </div>

    <span class="text-muted">{{artist.name}}</span>

  </div>

  <div class="row mt-3">

    <div id="liveVideoDiv" class="col-7 p-0" (window:resize)="resizeIframe()">
      <div id="liveVideoO" [ngClass]="{'overlay': !allowClicksInVideo}">
        <iframe  [ngClass]="{'d-none': loadingIframe}" id="liveVideo" (load)='resizeIframe()' width="840" height="472,5" [src]="url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div id="liveVideoBar" class="d-flex flex-row-reverse">
        <div class="barIcon" style="background: white" (click)="fullscreen()" >
          <i class="icon center-xy" style="fill: #5B6F82" data-eva="expand"></i>
        </div>
        <div class="barIcon" style="background-color: #FF6D8B" (click)="cheer()">
          <i class="icon center-xy" style="fill: white" data-eva="heart"></i>
        </div>
        <div class="barIcon" style="background-color: #3ADACA" (click)="bid(5)">
          <p class="icon center-xy" style="color: white">€</p>
        </div>
      </div>

      <div class="tags d-flex align-items-center mt-3">
        <app-pill *ngFor="let tag of live.tags" [label]="tag" [marginRight]="true"></app-pill>
      </div>
    </div>

    <div class="col-4 ml-5">
      <div class="chat" *ngIf="!loadingIframe">

        <div class="d-flex mb-2">
          <div style="height: 2rem; width: 2rem; position: relative">
            <i class="icon center-xy" style="fill: #3ADACA" data-eva="message-circle"></i>
          </div>
          <h4 class="ml-2 mt-0">Live Chat</h4>
        </div>
        <!-- posts -->
        <div class="postsWrapper">
          <div *ngFor="let post of live.posts" class="w-100 mb-3 card-att">

            <div class="feed" (ngInit)="scrolldown()">

              <div class="top d-flex align-items-center">

                <div class="avatar mr-2">
                  <img class="rounded-circle" src="{{post.avatar}}" alt="avatar">
                </div>

                <span class="text-dark bold">{{post.name}}</span>
                <span class="text-muted ml-2">{{post.time}}</span>
              </div>

              <div class="text">
                <p class="description text-dark font-size-3 mb-2 mt-1">{{post.text}}</p>
              </div>

            </div>

          </div>

        </div>

        <app-input-text   [id] = "'post'"
                          [placeholder] = "'Write something...'"
                          [icon] = "'edit-2'"
                          [(value)] = "postText"
                          [marginTop] = "'mt-1'" (keydown.enter)="sendPost()"></app-input-text>

      </div>

    </div>

  </div>



</section>
