<div class="form-label-group" [ngClass]="{'mt-2': marginTop === 'mt-2', 'mt-3': marginTop === 'mt-3'}">

  <input
    type="email"
    id="{{id}}"
    class="form-control"
    placeholder="{{placeholder}}"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit(value); onValidityChange(inputEmail)"
    #inputEmail="ngModel"
    [pattern]="'[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$'"
    [ngClass]="{ 'is-invalid': (enter || inputEmail.touched) && inputEmail.invalid }"
    [required]="required"
    email
    (keydown.enter)="enterPressed()">

  <i class="icon" data-eva="email-outline"></i>
  <label for="{{id}}">{{placeholder}}</label>

</div>

<div *ngIf="(enter || inputEmail.touched) && inputEmail.invalid" class="is-invalid">
  <span *ngIf="inputEmail.errors.required" class="small text-danger">Email is required</span>
  <span *ngIf="inputEmail.errors.pattern" class="small text-danger">Email must be a valid email address</span>
</div>
