@import "src/styles/abstracts/variables", "src/styles/abstracts/functions", "src/styles/abstracts/mixins";
@import "node_modules/bootstrap/scss/functions", "node_modules/bootstrap/scss/variables", "node_modules/bootstrap/scss/mixins";

.filter {

  .dropdown-menu {
    height: 15rem;
    width: 13rem;
    overflow-y: scroll;
    top: 5px !important;

    &.budget {
      height: auto;
      overflow: unset;
    }

    a {
      text-decoration: none;

      span {
        font-size: .75rem;
      }

      &:hover, &:focus {
        background-color: white;
        @include font-weight-att(semibold);

        span { color: get-color(primary, 3) !important; }
      }
    }

  }

}
