@import "src/styles/abstracts/variables", "src/styles/abstracts/functions", "src/styles/abstracts/mixins";
@import "node_modules/bootstrap/scss/functions", "node_modules/bootstrap/scss/variables", "node_modules/bootstrap/scss/mixins";

.main {
  height: 21rem;
  background-color: white;
  box-shadow: 0 4.74764px 9.49528px rgba(17, 17, 17, 0.04);

  &:hover, &:focus {
    outline: none;
  }

  &.rounded, {
    border-radius: 18.9906px !important;
  }

  .rounded-top-right {
    border-top-right-radius: 18.9906px;
  }

  .rounded-top-left {
    border-top-left-radius: 18.9906px;
  }

  .content {
    height: 12rem;
  }

  .image {
    width: 100%;

    img {
      height: 8rem;
      width: 100%;
      object-fit: cover;
    }
  }

  .title {
    font-size: .9rem;
    position: relative;
    top: 0;
  }

  .description, .duration {
    font-size: .75rem;
  }

  .description {
    font-size: .75rem;
    position: relative;
    top: .1rem;
  }

  .duration {
    position: relative;
    top: .1rem;
  }

  .price {
    font-size: .9rem;
    position: absolute;
    bottom: 2rem;
    right: 0;
  }

  button {
    position: absolute;
    bottom: .2rem;
  }
}
