<div class="filter dropdown position-relative" [ngClass]="{'mr-2': marginRight}">

  <button class="btn btn-filter dropdown-toggle d-flex align-items-center" type="button"
          data-toggle="dropdown" (click)="this.arrowDown = !this.arrowDown;">
    {{name}}

    <div [ngClass]="{ 'd-none': !arrowDown }"><i class="arrow-down" data-eva="chevron-down"></i></div>
    <div [ngClass]="{ 'd-none': arrowDown }"><i class="arrow-up" data-eva="chevron-up"></i></div>
  </button>

  <div class="dropdown-menu">

    <div *ngFor="let item of items; let i = index" id="{{item.name}}"
         class="dropdown-item d-flex align-items-center justify-content-between px-3"
        [ngClass]="{'selected': item.name === selectedItem}"
        (click)="onItemSelected($event.target); this.arrowDown = !this.arrowDown">

      <span *ngIf="!rate || (rate && i < 2)" class="text-dark">{{item.name}}</span>

      <div *ngIf="rate && i !== 0" class="rate d-flex align-items-center">
        <i *ngFor="let rate of getRateArray(parseInt(item.name, 10))" class="star" data-eva="star"></i>
      </div>

      <span class="text-grey">({{formatNumberWithCommas(item.total)}})</span>
    </div>

  </div>

</div>
