<footer class="site-footer" id="footer">

  <div class="container-fluid">

    <!-- Upper part -->
    <div class="upper-footer pt-4">

      <div class="row">

        <div class="footer-col col-4 col-sm mb-3">
          <span class="footer-col-title mb-3">Discover</span>
          <a class="mb-2" href="#" routerLink="/discover/artists">Artists</a>
          <a class="mb-2" href="#" routerLink="/discover/gigs">Gigs</a>
        </div>

        <div class="footer-col col-4 col-sm mb-3">
          <span class="footer-col-title mb-3">Community</span>
          <a class="mb-2 cursor-pointer">Forum</a>
          <a class="mb-2 cursor-pointer">Community Standards</a>
          <a class="mb-2 cursor-pointer">Invite a Friend</a>
        </div>

        <div class="footer-col col-4 col-sm mb-3">
          <span class="footer-col-title mb-3">Academy</span>
          <a class="mb-2" href="#" routerLink="/academy">Courses</a>
        </div>

        <div class="footer-col col-4 col-sm mb-3">
          <span class="footer-col-title mb-3">About</span>
          <a class="mb-2" href="https://web.tecnico.ulisboa.pt/joanasesinando/ccu/#section-features">Features</a>
          <a class="mb-2" href="https://web.tecnico.ulisboa.pt/joanasesinando/ccu/#section-project">Project Roadmap</a>
          <a class="mb-2" href="https://web.tecnico.ulisboa.pt/joanasesinando/ccu/#section-team">Team</a>
        </div>

        <div class="footer-col col-4 col-sm mb-3">
          <span class="footer-col-title mb-3">General</span>
          <a class="mb-2 cursor-pointer">Help & Support</a>
          <a class="mb-2 cursor-pointer">Terms & Conditions</a>
          <a class="mb-2 cursor-pointer">Payments</a>
        </div>

      </div>

    </div> <!-- ./upper-footer -->

    <!-- Bottom part -->
    <div class="bottom-footer py-4 py-sm-2">

      <div class="row justify-content-between align-items-center flex-wrap px-3 px-sm-0">

        <div class="footer-logo">
          <img class="mb-1" src="assets/imgs/logo_footer.svg" alt="Logo">
          <span>© 2020, Artistree</span>
        </div>

        <a class="footer-IST" href="https://tecnico.ulisboa.pt/en/" target="_blank">
          <img src="assets/imgs/powered_by_IST_footer.svg" alt="Powered by Instituto Superior Técnico">
        </a>

        <div class="footer-social d-flex align-items-center">
          <i class="lni lni-twitter-original mr-3"></i>
          <i class="lni lni-facebook-oval mr-3"></i>
          <i class="lni lni-pinterest mr-3"></i>
          <i class="lni lni-instagram-original"></i>
        </div>

      </div>

    </div> <!-- ./bottom-footer -->

  </div>

</footer>
