@import "../../../../styles/abstracts/variables", "../../../../styles/abstracts/functions", "../../../../styles/abstracts/mixins";
@import "../../../../../node_modules/bootstrap/scss/functions", "../../../../../node_modules/bootstrap/scss/variables", "../../../../../node_modules/bootstrap/scss/mixins";

$avatar-height: 8rem;

.user-card {
  .avatar {
    height: $avatar-height;
    width: $avatar-height;

    img {
      width: 100%;
      height: $avatar-height;
      object-fit: cover;
    }
  }

  .name,
  .title,
  .follow {
    letter-spacing: 0.763177px;
  }

  .name {
    font-size: 1rem;
  }

  .title {
    font-size: .7rem;
  }

  .follow {
    font-size: .65rem;
  }

  .social {
    .rounded-circle {
      position: relative;
      width: 1.8rem;
      height: 1.8rem;
      background-color: get-color(primary, 3);
      &:hover, &:focus {
        background-color: get-color(primary, 1);
      }

      svg {
        fill: white;
        font-size: .9rem;
      }

      i {
        color: white;
        font-size: .9rem;
      }
    }
  }

  .bottom {
    span {
      font-size: .8rem;
    }

    svg {
      height: 1rem;
      fill: get-color(typography, 2);
    }
  }

}
