<div class="user-card card-att d-flex flex-column align-items-center">

  <!-- Edit btn -->
  <div data-toggle="modal" data-target="#edit-user-card">
    <i *ngIf="isCurrent" class="edit-icon" data-eva="edit"></i>
  </div>

  <!-- Artist badge -->
  <span *ngIf="this.user.type === 'artist'" class="badge badge-pill badge-artist">ARTIST</span>

  <!-- Avatar -->
  <div class="avatar">
    <img class="rounded-circle" src="{{user.avatar}}" alt="profile picture">
  </div>

  <!-- Name -->
  <p class="name text-dark bold mt-2 mb-0">{{user.name}}</p>

  <!-- Title -->
  <p *ngIf="user.type === 'artist'" class="title text-grey medium mt-0 mb-2">{{user.title}}</p>

  <!-- Follows -->
  <div class="d-flex align-items-center justify-content-center flex-wrap">
    <p *ngIf="this.user.type === 'artist'" class="follow text-light-grey regular mb-3">{{user.followers}} followers</p>
    <span *ngIf="this.user.type === 'artist'" class="follow text-light-grey regular mb-3 mx-1"> . </span>
    <p class="follow text-light-grey regular mb-3">{{user.following}} following</p>
  </div>

  <!-- Social -->
  <div *ngIf="user.socialLinks.length !== 0" class="social d-flex align-items-center justify-content-center mb-3">

    <a *ngFor="let social of user.socialLinks; let last = last" class="rounded-circle cursor-pointer"
       [ngClass]="{'mr-3': !last}"
       href="{{social.link}}" target="_blank">

      <i *ngIf="social.network === 'facebook'" class="lni lni-facebook-filled center-xy"></i>
      <i *ngIf="social.network === 'instagram'" class="lni lni-instagram-original center-xy"></i>
      <i *ngIf="social.network === 'youtube'" class="lni lni-youtube center-xy"></i>
      <i *ngIf="social.network === 'twitter'" class="lni lni-twitter-original center-xy"></i>
    </a>

  </div>

  <div *ngIf="user.socialLinks.length === 0 && isCurrent" class="social w-100 mb-3">
    <button class="d-flex align-items-center justify-content-center btn btn-grey-rounded btn-block btn-lg"
    data-toggle="modal" data-target="#edit-user-card">
      <i class="icon mr-2" data-eva="plus-circle-outline" style="fill: white"></i> Add social media links</button>
  </div>


  <div class="bottom w-100 border-top pt-3 mb-3"
  [ngClass]="{'mb-3': this.user.type === 'artist'}">

    <!-- Handler -->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <div class="d-flex align-items-center">
        <i class="icon" data-eva="at-outline"></i>
        <span class="text-grey regular ml-2">Handler</span>
      </div>
      <span>{{user.handler}}</span>
    </div>

    <!-- Location -->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <div class="d-flex align-items-center">
        <i class="icon" data-eva="pin"></i>
        <span class="text-grey regular ml-2">From</span>
      </div>
      <span *ngIf="user.location">{{user.location}}</span>
      <span *ngIf="!user.location">-</span>
    </div>

    <!-- Member since -->
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <i class="icon" data-eva="person"></i>
        <span class="text-grey regular ml-2">Member since</span>
      </div>
      <span>{{formatTimestamp(this.user.joiningTimestamp)}}</span>
    </div>

  </div>

  <!-- Schedule -->
  <div *ngIf="this.user.type === 'artist'" class="w-100 border-top pt-3">
    <button class="d-flex align-items-center justify-content-center btn btn-primary btn-block btn-lg">
      <i class="icon mr-2" data-eva="calendar-outline" style="fill: white"></i> Schedule</button>
  </div>

</div>


<div class="modal fade" id="edit-user-card" tabindex="-1">

  <div class="modal-dialog modal-sm-att">

    <div class="modal-content">

      <!-- Header -->
      <app-modal-header [header]="'Edit profile'"></app-modal-header>

      <!-- Body -->
      <div class="modal-body">

        <form (submit)="update()">
          <span class="text-grey semibold">General Information</span>

          <!-- Name -->
          <app-input-text
            [id]="'profileInputName'"
            [placeholder]="'Name'"
            [icon]="'person-outline'"
            [(value)]="user.name"
            [pattern]="'^[\\w\'\\-,.][^0-9_!¡?÷?¿/\\\\+=@#$%ˆ&*(){}|~<>;:[\\]]{2,}$'"
            [required]="true"
            [marginTop]="'mt-2'"
            (validityChange)="this.form.nameValid = $event">
          </app-input-text>

          <!-- Title -->
          <app-input-text
            *ngIf="user.type === 'artist'"
            [id]="'profileInputTitle'"
            [placeholder]="'Title'"
            [icon]="'star-outline'"
            [(value)]="user.title"
            [required]="true"
            [marginTop]="'mt-2'"
            (validityChange)="this.form.titleValid = $event">
          </app-input-text>

          <!-- Location -->
          <app-input-text
            [id]="'profileInputLocation'"
            [placeholder]="'Location'"
            [icon]="'pin-outline'"
            [marginTop]="'mt-2'"
            [(value)]="user.location">
          </app-input-text>

          <!-- Social Links -->
          <div class="mt-3 mb-2"><span class="text-grey semibold">Social links</span></div>

          <!-- Facebook -->
          <app-input-text
            [id]="'profileInputFacebook'"
            [placeholder]="'Facebook'"
            [icon]="'facebook'"
            [iconType]="'line-icons'"
            [(value)]="socialLinks.facebook">
          </app-input-text>

          <!-- Instagram -->
          <app-input-text
            [id]="'profileInputInstagram'"
            [placeholder]="'Instagram'"
            [icon]="'instagram-original'"
            [iconType]="'line-icons'"
            [marginTop]="'mt-2'"
            [(value)]="socialLinks.instagram">
          </app-input-text>

          <!-- Youtube -->
          <app-input-text
            [id]="'profileInputYoutube'"
            [placeholder]="'Youtube'"
            [icon]="'youtube'"
            [iconType]="'line-icons'"
            [marginTop]="'mt-2'"
            [(value)]="socialLinks.youtube">
          </app-input-text>

          <!-- Twitter -->
          <app-input-text
            [id]="'profileInputTwitter'"
            [placeholder]="'Twitter'"
            [icon]="'twitter'"
            [iconType]="'line-icons'"
            [marginTop]="'mt-2'"
            [(value)]="socialLinks.twitter">
          </app-input-text>

          <button class="btn btn-primary btn-block btn-lg mt-3" type="submit"
                  (click)="update()" data-dismiss="modal">Update</button>
        </form>

      </div>

    </div>

  </div>

</div>
