.container,
.container-fluid,
.container-sm {
  width: 100%;
  margin: 0 auto;
  padding-left: get-content-padding(mobile);
  padding-right: get-content-padding(mobile);

  @include media-breakpoint-up(sm){
    padding-left: get-content-padding(desktop);
    padding-right: get-content-padding(desktop);
  }
}

.container-sm {
  max-width: 848px;
}

.container {
  .container-sm {
    padding-left: 0;
    padding-right: 0;
  }
}

.list-reset {
  list-style: none;
  padding: 0;
}

.text-primary {
  color: get-color(primary, 1);
}

.text-secondary {
  color: get-color(secondary, 1);
}

.has-top-divider {
  @include divider-att(before);
}

.has-bottom-divider {
  @include divider-att(after);
}

/* Reveal animations */
.sr {

  .has-animations {

    .is-revealing {
      visibility: hidden;
    }
  }
}
