.container,
.container-fluid,
.container-sm {
  width: 100%;
  margin: 0 auto;
  padding-left: get-content-padding(mobile);
  padding-right: get-content-padding(mobile);

  @include media-breakpoint-up(sm){
    padding-left: get-content-padding(desktop);
    padding-right: get-content-padding(desktop);
  }
}

.container-sm {
  max-width: 848px;
}

.container {
  .container-sm {
    padding-left: 0;
    padding-right: 0;
  }
}

.list-reset {
  list-style: none;
  padding: 0;
}

.link {
  &:hover, &:focus {
    cursor: pointer;
    text-decoration: underline;
  }
}

.text-primary {
  color: get-color(primary, 3) !important;
}

.text-secondary {
  color: get-color(secondary, 1) !important;
}

.text-additional {
  color: get-color(additional, 1) !important;
}

.text-danger {
  color: get-color(danger, 1) !important;
}

.text-grey {
  color: get-color(typography, 2) !important;
}

.text-light-grey {
  color: get-color(typography, 3) !important;
}

.text-dark {
  color: get-color(typography, 1) !important;
}

.light {
  @include font-weight-att(light);
}

.regular {
  @include font-weight-att(regular);
}

.medium {
  @include font-weight-att(medium);
}

.semibold {
  @include font-weight-att(semibold);
}

.bold {
  @include font-weight-att(bold);
}

.has-top-divider {
  @include divider-att(before);
}

.has-bottom-divider {
  @include divider-att(after);
}

/* Reveal animations */
.sr {

  .has-animations {

    .is-revealing {
      visibility: hidden;
    }
  }
}
