<div class="main rounded d-flex flex-column align-items-center py-3 px-4">

  <div class="avatar">
    <img class="rounded-circle" src="{{avatar}}" alt="profile picture">
  </div>

  <p class="name text-dark bold mt-2 mb-0">{{name}}</p>
  <p class="following text-light-grey regular mb-3">{{following}} following</p>

  <div class="social d-flex align-items-center justify-content-center mb-3">

    <div class="rounded-circle cursor-pointer mr-3">
      <i class="icon center-xy" data-eva="facebook"></i>
    </div>

    <div class="rounded-circle cursor-pointer mr-3">
      <i class="icon center-xy" data-eva="facebook"></i>
    </div>

    <div class="rounded-circle cursor-pointer mr-3">
      <i class="icon center-xy" data-eva="facebook"></i>
    </div>

    <div class="rounded-circle cursor-pointer">
      <i class="icon center-xy" data-eva="facebook"></i>
    </div>

  </div>

  <div class="bottom w-100 border-top pt-3">

    <div class="d-flex align-items-center justify-content-between mb-2">
      <div class="d-flex align-items-center">
        <i class="icon" data-eva="at-outline"></i>
        <span class="text-grey regular ml-2">Handler</span>
      </div>
      <span>{{handler}}</span>
    </div>

    <div class="d-flex align-items-center justify-content-between mb-2">
      <div class="d-flex align-items-center">
        <i class="icon" data-eva="pin"></i>
        <span class="text-grey regular ml-2">From</span>
      </div>
      <span>{{from}}</span>
    </div>

    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <i class="icon" data-eva="person"></i>
        <span class="text-grey regular ml-2">Member since</span>
      </div>
      <span>{{since}}</span>
    </div>

  </div>

</div>
